:root {
  --main-color: #4b4366;
  --sidebar-color: #f4fbf4;
  --main-accent-color: #cc3953;
  --accent-color: #517380;
  --active-link-color: #960f28;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
  font-size: 14px;
  line-height: calc(24 / 14);
  margin: 0;
  width: 100%;
}

.frame {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: auto;
}

.main {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  color: var(--main-color);
  padding: 100px 90px;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 45px;
  line-height: calc(55 / 45);
  margin-bottom: 25px;
}

h2 {
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  line-height: calc(27 / 22);
  margin-bottom: 5px;
}

h4 {
  font-size: 22px;
  line-height: calc(27 / 22);
  margin-top: 35px;
  margin-bottom: 10px;
}

h5 {
  font-size: 22px;
  line-height: calc(27 / 22);
  margin-top: 35px;
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-top: 21.28px;
  margin-bottom: 5px;
}

ul,
ol {
  margin: 0 0 0 17px;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: var(--active-link-color);
}

ol a {
  color: var(--main-accent-color);
}
ol a:hover,
ol a:focus {
  color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

aside {
  background-color: var(--main-color);
  width: max-content;
  color: var(--sidebar-color);
  padding-top: 40px;
}

.exp-place {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--main-accent-color);
  margin-top: 0;
  margin-bottom: 5px;
}

.exp-period {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--accent-color);
  margin-top: 0;
  margin-bottom: 3px;
}

.edu-place {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--main-accent-color);
  margin-top: 21.28px;
  margin-bottom: 5px;
}

.edu-faculty {
  font-weight: 700;
  line-height: calc(20 / 16);
  margin-top: 5px;
  margin-bottom: 5px;
}

.edu-period {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--accent-color);
  margin-top: 5px;
  margin-bottom: 3px;
}

.add-edu-course {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin-top: 21.28px;
  margin-bottom: 5px;
}

.add-edu-place {
  font-weight: 700;
  line-height: calc(20 / 16);
  color: var(--main-accent-color);
  margin-top: 0;
  margin-bottom: 3px;
}

/*--------------------SIDEBAR--------------------*/
.sidebar {
  padding: 50px 40px;
}

.sidebar a {
  color: var(--accent-color);
}
.sidebar a:hover,
.sidebar a:focus {
  color: var(--sidebar-color);
}

.sidebar li {
  color: var(--main-accent-color);
}

.sidebar span {
  color: var(--sidebar-color);
}
